@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&family=Voltaire&display=swap');

*{
	background-color: #87719E;
}
nav{
	display: flex;
	justify-content: space-between;
	background: #6E577E;
	padding: 1em;
	padding-top: 15px;
	padding-bottom: 1em;
	margin: 0em;
	top: 0px;
	position: sticky;
	font-family: "Vampiro One", system-ui;
	font-size: 20px;
	z-index: 10;
}
	nav p{
		background-color: #6E577E;
	}
	
.content-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.me {
	width: 400px;
	height: auto;
	margin: 2em;
	margin-bottom: 0px;
	position: relative;
	top: 40px; 
	z-index: 2;
}


.content-text h1 {
  text-align: center;
  font-family: "Vampiro One";
  font-size: 80px;
}

.content-text p {
	font-family: "Voltaire";
	width: 500px;
	color: #F7ECFF;
	font-size: 27px;
	text-align: center;
  
}

.content-box{
	background-color: #9DCC9E;
	border-radius: 25px;
	width: 300px;
	margin: 30px;
	margin-right:0px;
	position: relative;
	top: 225px; 
	z-index: 2;

}

	.content-box img{
		background-color: #9DCC9E;
		width: 50px;
	}

	.content-box p{
		background-color: #9DCC9E;
		font-size:20px;
		font-family: "Voltaire";
		text-align:right;
		padding-right: 1em;
	}
	
	.content-box a{
		background-color: #9DCC9E;
		font-size:20px;
		font-family: "Voltaire";
		text-align:right;
		padding-right: 1em;
	}
	.character{
		width: 200px;
		height: auto;
		padding: 0px;
		margin: 0px;
		position: relative;
		top: 175px; 
		z-index: 2;

	}


.welcome{
	background-color: #2e2e2e;
	color: #F7ECFF;
	padding: 40px;
	position: relative;
	margin-top: -30px;
	z-index: 1;
}
	.welcome h2{
		background-color: #2e2e2e;
		color: #F7ECFF;
		font-family: "Vampiro One", system-ui;
		text-align: center;
		font-size: 50px;
		
	}
	.welcome p{
		background-color: #2e2e2e;
		color: #F7ECFF;
		font-family: "Voltaire", system-ui;
		font-size: 25px;
		text-align: center;
		padding-left: 100px;
		padding-right: 100px;
		padding-bottom: 25px;
	}

.Mywork{
	text-align: center;
}

	.Mywork h2{
		color: #000000;
		font-family: "Vampiro One", system-ui;
		text-align: center;
		font-size: 50px;
		margin-top:70px;
	}

nav a:link {
	color: black;
	background: #6E577E;
	padding-top: 12px;
	text-decoration: none;

}
nav a:visited {
	color: black;
	background: #6E577E;
	padding-top: 12px;
}
nav a:focus {
	color: #F7ECFF;
	padding-top: 12px;
}
nav a:hover {
	color: black;
	background: #675276;
	padding-top: 12px;

}
nav a:active {
	color: black;
	background: #675276;
	padding-top: 12px;
}

.game-card {
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-bottom: 2em;
}

	.Games {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		background: rgba(0,0,0,0.0);
		font-family:"Voltaire";
	}
	.gamepic{
		width: 300px;
		height:auto;
		border-radius:25px;
	}
	
.prototype-card {
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-bottom: 2em;
}

	.Prototype {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		background: rgba(0,0,0,0.0);
		font-family:"Voltaire";
	}
	
	.prototypepic{
		width: 300px;
		height:auto;
		border-radius:25px;
	}

.ongoingprojects-card {
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-bottom: 2em;
}

	.OngoingProjects {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		background: rgba(0,0,0,0.0);
		font-family:"Voltaire";
	}
	
	.ongoingprojectspic{
		width: 300px;
		height:auto;
		border-radius:25px;
	}

.TwoDArt-card {
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-bottom: 2em;
}

	.twoDArt {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		background: rgba(0,0,0,0.0);
		font-family:"Voltaire";
	}
	
	.twodpic{
		width: 300px;
		height:auto;
		border-radius:25px;
	}
	
.ThreeDArt-card {
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin-left: 2.5em;
	margin-right: 2.5em;		
	margin-bottom: 2em;
}

	.threeDArt {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		background: rgba(0,0,0,0.0);
		font-family:"Voltaire";
	}
	.threedpic{
		width: 300px;
		height:auto;
		border-radius:25px;
	}
	
.Music-card {
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-bottom: 2em;
}

	.Music {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		background: rgba(0,0,0,0.0);
		font-family:"Voltaire";
	}
	
	.musicpic{
		width: 300px;
		height:auto;
		border-radius:25px;
	}


h3{
	color: #ffffff;
	font-family: "Voltaire", system-ui;
}

footer{
	background-color: #2e2e2e;
	font-family: "Voltaire", system-ui;
	color: #F7ECFF;
	padding: 1em;
	text-align: center;
	font-size: 18px;
}
